.nav {
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0;
  &__button {
    border: none;
    width: 4rem;
    height: 3.4rem;
    display: block;
    &__trigger {
      margin: 1.5rem 0;
      cursor: pointer;
      &,
      &::before,
      &::after {
        display: block;
        box-sizing: border-box;
        width: 3.4rem;
        height: 0.4rem;
        background: $dark;
        content: " ";
        border-radius: 0.4rem;
        transition: transform 300ms ease-in;
      }
      &::before {
        transform: translateY(-1.1rem);
      }
      &::after {
        transform: translateY(0.7rem);
      }
      @include when-inside('.open') {
        &::before {
          transform: translateY(0);
        }
        &::after {
          transform: translateY(-0.4rem);
        }
      }
    }
    @include mq(md) {
      display: none;
    }
  }
  &__menu {
    align-items: center;
    max-height: 0;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    &__item {
      transition: color 200ms ease-in-out;
      font-size: 1.4rem;
      line-height: 1.6rem;
      font-weight: 600;
      &:hover {
        color: $orange;
      }
    }
    @include when-inside('.open') {
      transition: opacity 300ms ease-in-out, max-height 300ms ease-in-out, visibility 300ms ease-in-out, transform 300ms ease-in-out;
      visibility: visible;
      max-height: 100vh;
      opacity: 1;
      top: 5rem;
      transform: translateY(2rem);
      background: $light-grey;
      width: 100vw;
      left: -5%;
      text-align: center;
      padding-bottom: 4rem;
      box-shadow: 1px 1px 3px 0 rgba(50, 50, 54, 0.13);
      &__item {
        display: block;
        margin: 2rem 0;
      }
    }
    @include mq(md) {
      display: flex;
      max-height: unset;
      visibility: visible;
      opacity: 1;
      position: relative;
      &__item {
        margin-right: 4rem;
      }
    }
  }
}